<div *ngIf="entries != null">
    <form [ngFormModel]="forming">
        <div class='mdc-layout-grid'>
            <div class="grid-inner">
                <div *ngFor="let entry of entries; let i=index"
                     [ngClass]="classFor(entry)">
                    <div [ngSwitch]="entry.rule.ruleType">
                        <div *ngSwitchCase="RuleType.text">
                            <material-input *ngIf="entry.suggestions == null"
                                            class="block-width"
                                            floatingLabel
                                            multiline
                                            [autoFocus]="i == 0"
                                            [required]="entry.rule.isMandatory"
                                            [disabled]="readonly || entry.disabled"
                                            type="text"
                                            [maxCount]="entry.rule.characterLimit == 0 || readonly? null : entry.rule.characterLimit"
                                            [id]="entry.id"
                                            [ngControl]="entry.id"
                                            [value]="entry.originalValue"
                                            [label]="entry.id">
                            </material-input>

                            <material-auto-suggest-input *ngIf="entry.suggestions != null"
                                                         floatingLabel
                                                         multiline
                                                         [autoFocus]="i == 0"
                                                         [required]="entry.rule.isMandatory"
                                                         [disabled]="readonly || entry.disabled"
                                                         [maxCount]="entry.rule.characterLimit == 0 || readonly ? null : entry.rule.characterLimit"
                                                         [id]="entry.id"
                                                         [ngControl]="entry.id"
                                                         [inputText]="entry.originalValue"
                                                         [label]="entry.id"
                                                         [selectionOptions]="entry.suggestions">
                            </material-auto-suggest-input>
                        </div>

                        <material-input *ngSwitchCase="RuleType.number"
                                        floatingLabel
                                        type="number"
                                        [required]="entry.rule.isMandatory"
                                        [disabled]="readonly || entry.disabled"
                                        checkPositive
                                        [lowerBound]="0"
                                        [id]="entry.id"
                                        [ngControl]="entry.id"
                                        [value]="entry.originalValue"
                                        [label]="entry.id">
                        </material-input>

                        <material-toggle *ngSwitchCase="RuleType.toggle"
                                         [checked]="entry.originalValue ?? false"
                                         [disabled]="readonly || entry.disabled"
                                         [id]="entry.id"
                                         [ngControl]="entry.id"
                                         [label]="entry.id">
                        </material-toggle>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell--span-12">
                    <ng-content></ng-content>
                </div>
                <div *ngIf="shouldShowAction" class="mdc-layout-grid__cell--span-12 action-bar">
                    <material-button raised
                                     *ngIf="canBeDelete"
                                     class="red"
                                     (trigger)="onDelete()">
                        {{deleteButtonLabel}}
                    </material-button>
                    <material-button raised
                                     class="yellow"
                                     [disabled]="!cancelAlwaysOn && !isChanged"
                                     (trigger)="onCancel()">
                        {{cancelButtonLabel}}
                    </material-button>
                    <material-button raised
                                     class="blue"
                                     [disabled]="!isChanged"
                                     (trigger)="onSubmit()">
                        {{submitButtonLabel}}
                    </material-button>
                </div>
            </div>
        </div>
    </form>
</div>