@import 'package:angular_components/css/material/material';
@import 'package:angular_components/material_input/mixins';
@import 'style/mdc-layout-grid/mdc-layout-grid';

:host {
    .mdc-layout-grid {
        @include mdc-layout-grid(desktop, $mat-grid);
    }

    .grid-inner {
        @include mdc-layout-grid-inner(desktop, 0, $mat-grid * 2);
    }

    .block-width {
        display:block;
        width:100%;
    }

    .action-bar {
        display:flex;
        justify-content: flex-end;
    }

    material-input {
        @include input-hide-bottom-section();
        @include input-hide-bottom-spaceholder();

        short-number {
            width: 75px;
        }
    }

    material-auto-suggest-input {
        @include input-hide-bottom-section();
        @include input-hide-bottom-spaceholder();
    }
}
